@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #d3ad7f;
  --black: #13131a;
  --bg: #010103;

  --border: 0.1rem solid rgba(255, 255, 255, 0.3);
  --orange: #ff7800;
  --dark-blue: #130f40;
  --light-color: #666;
  --box-shadow: 0 0 1.5rem rgb(131, 125, 125);
  --outline: 0.1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: 0.2rem solid var(--black);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5rem;
}

body {
  background: var(--bg);
}

section {
  padding: 2rem 9%;
}

.heading {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.heading span {
  color: var(--main-color);
}

/* ============= HEADER =================*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 9%;
  background: var(--black);
  box-shadow: var(--box-shadow);
}

.header .logo {
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
  vertical-align: middle;
  display: inline-block;
}

#navbar-logo {
  justify-self: start;
  height: 5rem;
  align-items: center;
  cursor: pointer;
  vertical-align: middle;
  display: inline-block;
}

.header .nav-menu a {
  padding: 1rem 1.5rem;
  font-size: 1.7rem;
  margin: 0 2rem;
  color: #fff;
}

.header .nav-menu a:hover {
  border: var(--border);
  background: var(--main-color);
  transition: all 0.2s ease-out;
}

/* ============== HOME ================*/
.slideshow-container {
  max-width: 100%;
  top: 20%;
  position: relative;
  margin: auto;
  z-index: 1;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 49%;
  width: auto;
  margin-top: 25px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: white;
  font-size: 60px;
  padding: 8px 12px;
  position: absolute;
  bottom: 30%;
  width: 100%;
  text-align: center;
}

.text p {
  font-size: 1.7rem;
  padding: 1rem 0;
  line-height: 1.8;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* =============== ABOUT =================*/
.about .row {
  display: flex;
  align-items: center;
  background: var(--black);
  flex-wrap: wrap;
}

.about .row .image {
  flex: 1 1 5rem;
  margin-left: 10rem;
  margin-top: 3rem;
}

.about .row .image img {
  width: 100%;
}
.about .row .content {
  flex: 1 1 45rem;
  padding: 5rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: #fff;
}

.about .row .content p {
  font-size: 1.6rem;
  color: #fff;
  padding: 1rem 0;
  line-height: 1.8;
}
.about .row .mission_vision {
  flex: 1 1 20rem;
  flex-direction: column;
  align-items: flex-start;
  margin: 80px;
  text-align: center;
  width: 160px;
  box-sizing: border-box;
}

.about .row .mission_vision h3 {
  font-size: 3rem;
  color: #fff;
}

.about .row .mission_vision p {
  font-size: 1.6rem;
  color: #fff;
  padding: 1rem 0;
  line-height: 1.8;
}

/* ================ BLOG ===================*/
.blogs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .box {
  border: var(--border);
}

.blogs .box-container .box .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.blogs .box-container .box .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.blogs .box-container .box:hover .image img {
  transform: scale(1.2);
}

.blogs .box-container .box .content {
  padding: 2rem;
}

.blogs .box-container .box .content .title {
  font-size: 2.5rem;
  line-height: 1.5;
  color: #fff;
}

.blogs .box-container .box .content .title:hover {
  color: var(--main-color);
}

.blogs .box-container .box .content span {
  color: var(--main-color);
  display: block;
  padding-top: 1rem;
  font-size: 2rem;
}

.blogs .box-container .box .content p {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #ccc;
  padding: 1rem 0;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: var(--main-color);
  cursor: pointer;
}

.btn:hover {
  letter-spacing: 0.2rem;
}

/* For view */
.blogs .heading h1 {
  text-align: center;
  color: black;
  text-transform: uppercase;
  padding-bottom: 3.5rem;
  font-size: 4rem;
}

.blogs .image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}
.blogs .image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.blogs .content p {
  font-size: 1.6rem;
  color: #ccc;
  padding: 1rem 0;
  line-height: 1.8;
}

/*blog view*/
.blog_view p {
  text-align: center;
  color: white;
  text-transform: capitalize;
  padding-top: 10rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

.blog_view .heading h1 {
  text-align: center;
  color: white;
  text-transform: capitalize;
  padding-top: 10rem;
  padding-bottom: 0.5rem;
  font-size: 4rem;
}

.blog_view .author {
  text-align: center;
  color: white;
  text-transform: capitalize;
  padding-top: 10rem;
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

.blog_view .image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.blog_view #content {
  text-align: justify;
  color: white;
  font-size: 2rem;
  line-height: 2;
}

/* ================== PRODUCTS ==================*/
.products .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.products .box-container .box {
  text-align: center;
  border: var(--border);
  padding: 2rem;
}

.products .box-container .box .image {
  padding: 2.5rem 0;
}

.products .box-container .box .image img {
  height: 25rem;
}

.products .box-container .box .content h3 {
  color: #fff;
  font-size: 2.5rem;
}

/* ================= CONTACT ===================*/
.contact .row {
  display: flex;
  background: var(--black);
  flex-wrap: wrap;
  gap: 1rem;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 5rem 2rem;
  text-align: center;
}

.contact .row form h3 {
  font-size: 2.5rem;
  color: #fff;
}
.contact .row form .inputBox {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background: var(--bg);
  border: var(--border);
}

.contact .row form .inputBox span {
  color: #fff;
  font-size: 2rem;
  padding-left: 2rem;
}

.contact .row form .inputBox input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background: none;
}

.contact .row form .inputBox textarea {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  color: #fff;
  text-transform: none;
  background: none;
}
.location h3 {
  text-align: center;
  font-size: 3.5rem;
  color: #fff;
}
.location .map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 100%;
}
.location p {
  text-align: center;
  font-size: 2rem;
  color: #fff;
}

/*================== FOOTER ===================*/
.footer {
  background: var(--black);
  text-align: center;
}

.footer .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: center;
  gap: 1rem;
}
.footer h4 {
  padding: 2rem 0;
  font-size: 2rem;
  color: #fff;
  font-style: italic;
}

#footer-logo {
  padding: 5px;
  margin-left: 150px;
  height: 100px;
  cursor: pointer;
}

.footer .share {
  padding: 1rem 0;
}

.footer .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #fff;
  border: var(--border);
  margin: 0.3rem;
  border-radius: 50%;
}

.footer .share a:hover {
  background-color: var(--main-color);
}

.footer .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
  gap: 1rem;
}

.footer .links a {
  padding: 0.7rem 2rem;
  color: #fff;
  border: var(--border);
  font-size: 2rem;
}

.footer .links a:hover {
  background: var(--main-color);
}

.footer .credit {
  font-size: 2rem;
  color: #fff;
  font-weight: lighter;
  padding: 1.5rem;
}

/* media queries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 2rem;
  }
  .text {
    font-size: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .nav-menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .nav-menu.active {
    background: #131313;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 60vh;
    font-size: 1.6rem;
  }

  #navbar-logo {
    margin-left: 25px;
  }

  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }
  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: var(--main-color);
    color: white;
    transition: all 0.4s ease-out;
  }

  .navbar {
    width: 100%;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .menu-toggle .bar {
    display: block;
    cursor: pointer;
  }

  .menu-toggle:hover {
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .slideshow-container .mySlides {
    justify-content: center;
    text-align: center;
  }
  .text {
    font-size: 3rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
